<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="tabbable">
			<div class="span2 offset well">
				<ul class="nav nav-tabs nav-stacked">
					<li><a href="#group" data-toggle="tab" class="style">Groups</a></li>
					<li><a href="#new" data-toggle="tab" class="style">New Group</a></li>
					<li><a href="#library" data-toggle="tab" class="style">Deparment</a></li>
					<li><a href="#control" data-toggle="tab" class="style">Users</a></li>
					<li><a href="#report" data-toggle="tab" class="style">Report</a></li>
					<li><a href="#search" data-toggle="tab" class="style">Search</a></li>
					<li><a href="#archive" data-toggle="tab" class="style">Archive</a></li>
				</ul>
			</div>
			<div class="span6 offset well">
				<div class="tab-content">
					<div class="tab-pane active" id="new">
						<p>Listing Created Groups</p>
					</div>
					<div class="tab-pane" id="new">
						<p>Form for creating new Groups</p>
					</div>
					<div class="tab-pane" id="library">
						<p>Form For creating department</p>
					</div>
					<div class="tab-pane" id="control">
						<p>Form for adding Users</p>
					</div>
					<div class="tab-pane" id="report">
						<p>Generate Reports</p>
					</div>
					<div class="tab-pane" id="search">
						<p>Quick Search</p>
					</div>
					<div class="tab-pane" id="archive">
						<p>Archived Satnadard</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>