<html>
<head>
</head>
<body>
  <div id="container">
    <div class="header">
      header
      here we can try to keep Navbar
    </div>
   <ul class="nav nav-tabs">
    <li><a href="/">DASHBOARD</a></li>
    <li class="active"><a href="/">POLICIES</a></li>
    <li><a href="/">REPORTS</a></li>
    <li><a href="/">EXECPTIONS</a></li>
    <li><a href="/">BUSINESS UNITS</a></li>
    <li><a href="/">GROUPS</a></li>
    <li><a href="/">ARCHIEVES</a></li>
    <li><a href="/">ADMIN</a></li>
    </ul> 
  </div>
</body>
</html>